{% extends 'index.html' %}

{% load static %}

{% block formularioDinamico %}

<style>
    p {
        text-align: center
    }
    
</style>

<figure class="text-center">
    <img class="rounded-circle" src="\static\Blog\assets\img\bg-about.jpg" alt="">
    <blockquote class="blockquote">
        <p>About Us</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        <cite title="Source Title">Matias Ezequiel Villalba Portunato</cite>
    </figcaption>
</figure>
<div class="info">

    <p>
        Actualmente estoy trabajando como soporte tecnico nivel 1 en la consultora Voolkia SA, para la cuenta de Mercadolibre.<br>
        Actualmente quiero empezar a dedicarme a ir por el camino del desarrollo y este curso de Python me
        dio mucho aprendizaje.<br>
        Es un buen punto de partida que me va a abrir las puertas en un futuro cercano en un proximo trabajo.
    </p>
</div>



{% endblock %}