{% extends 'index.html' %}

{% load static %}

{% block formularioDinamico %}
<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>

    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header bg-transparent border-primary">Perfil</div>
        <div class="card-body">
            <p class="card-text">Nombre de usuario: {{user.username}}</p>
            <p class="card-text">Nombre: {{user.first_name}}</p>
            <p class="card-text">Apellido: {{user.last_name}}</p>
            <p class="card-text">Correo: {{user.email}}</p>

        </div>
        <div class="card-footer bg-transparent border-primary">
            <a class="btn btn-primary" href="{% url 'EditUser' %}">Editar Perfil</a>
            <a class="btn btn-danger" href="{% url 'deleteUser' user.id %}">Eliminar Usuario</a>
            <a class="btn btn-primary" href="{% url 'changePassword' %}">Cambiar Clave</a>
        </div>
    </div>

{% endblock %}