{% extends 'index.html' %}

{% load static %}

{% block formularioDinamico %}
<style>
    .card {
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        margin-bottom: 10px;
        /* Added */
    }
</style>
{% if messages %}
    {% for message in messages%}
        <div class="alert alert-success" role="alert">
        {{message}}    
        </div>
    {%endfor%}
{% endif %}

<form class= "form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{form.media}}
    {{form.as_p}}

    <button type="submit">Postear</button>
</form>

<script>
    var name = "{{user.id}}"
    document.getElementById("autor").value = name;
</script>

{% endblock %}