{% extends 'index.html' %}

{% load static %}


{% block formularioDinamico %}
<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
    
<div class="card border-primary mb-3" style="max-width: 50rem;">
    <div class="card-header">{{post.post_date}} - {{post.autor.first_name}}{{post.autor.last_name}} - {{post.categoria}} </div>
    <div class="card-body text-primary">
        {% if post.imagen.url is not None %}
        <img src="{{post.imagen.url}}" style="width:100%">
        {% else %}
            <p class="card-text">No hay imagen</p>
        {% endif %}
        <h5 class="card-title">{{post.titulo}}</h5>
        <p class="card-text">{{post.cuerpo | safe }}</p>
    </div>
    <div class="card-footer bg-transparent border-primary">
        <a class="btn btn-primary" href="{% url 'ListPost' %}">Regresar</a>
        {% if user.id == post.autor.id %}
        <a class="btn btn-danger" href="{% url 'Delete' post.id %}">Eliminar</a>
        <a class="btn btn-primary" href="{% url 'Update' post.id %}">Actualizar</a>
        {% endif %}
    </div>
</div>
{% endblock %}

