<style>
    .helptext {
        visibility: hidden;
    }
    ul {
        display: none;
    }

</style>

{% extends 'index.html' %}


{% load static %}

{% block formularioDinamico %}
{% if messages %}
    {% for message in messages%}
        <div class="alert alert-success" role="alert">
        {{message}}    
        </div>
    {%endfor%}
{% endif %}

    <h1> Actualizar perfil </h1>
    <form action="" method="post">{% csrf_token %}
        {{form.as_p}}
        <button type="submit">Actualizar</button>
    </form>
    <script>
        var name = "{{user.id}}"
        document.getElementById("autor").value = name;
    </script>
{% endblock %}
